<!-- <mat-icon class="dialog-close-icon" (click)="close()">close</mat-icon>
<h1 mat-dialog-title>Questions</h1>
<div mat-dialog-content class="selectable-question-types">
    <div *ngFor="let quesiotn of question">
        <div class="questions" *ngIf="vehicleType.exist == 1">
            <app-vehicle-type
                [type]="vehicleType.type"
                [isOption]="true"
                [fare]="fare"
                [eta]="vehicleType.eta"
                [isNow]="isNow"
                (click)="selectVehicleType(vehicleType)"
            ></app-vehicle-type>
        </div>
    </div>
</div> -->
