<div class="pickupnow-content" [ngStyle]="{'justify-content': isAirport ? 'center' : 'space-between'}">
    <div
        [ngStyle]="{'margin-right': isMobile ? '10px' : ''}"
        style="display: flex;align-items: center;justify-content: center;width: 131px;height: 37px;border: 1px solid #919191;border-radius: 5px;transition: border-color 0.3s ease-out 0.2s;cursor: pointer;position: relative;">
        <button mat-icon-button type="button" (click)="picker.open()" [disabled]="disabled"
            style="width: 30px; height: 30px; display: flex; align-items: center;">
            <mat-icon style="font-size: 16px;">calendar_today</mat-icon>
        </button>
        <input matInput [matDatepicker]="picker" [min]="currentDate" [max]="maxDate"
            (ngModelChange)="modelChanged($event)" (click)="picker.open()" [disabled]="disabled"
            (dateInput)="onDateSelected($event)" style="width: 0%;" />
        <label [for]="picker" (click)="picker.open()"
            [ngClass]="disabled ? 'dateDisabled':'dateshow'">{{formatedDate}}</label>
        <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
    </div>

    <div style="display: flex; flex-direction: row" *ngIf="!isAirport">
        <div class="time-form-field">
            <mat-select (selectionChange)="onHourChange($event)" [(ngModel)]="pickupTime.hours" class="custom-scrollbar"
                [disabled]="disabled">
                <mat-option *ngFor="let hourValue of HOURS" [value]="hourValue">{{ hourValue }}</mat-option>
            </mat-select>
        </div>
        <span class="double-point">:</span>
        <div class="time-form-field">
            <mat-select (selectionChange)="onMinChange($event)" [(ngModel)]="pickupTime.minutes"
                class="custom-scrollbar" [disabled]="disabled">
                <mat-option *ngFor="let minuteValue of MINUTES" [value]="minuteValue">
                    {{ formatTimeValue(minuteValue) }}</mat-option>
            </mat-select>
        </div>
        <button [ngClass]="disabled ? 'btn-change-period-disabled':'btn-change-period'" (click)="changePeriod()"
            [disabled]="disabled">
            {{ pickupTime.period }}
        </button>
    </div>
</div>
<div *ngIf="warningLessThan45">
    <div style="margin-bottom:0; font-size: 14px; color: #ff5722; text-align: center; margin-top: 12px;">Must be at
        least 45 mins from now</div>
</div>